<div class="calculation-layout">
    
    <div class="calculation-containter">
        <input class="salary-input" type="text" placeholder="Gross Annual Salary:">
        <div class="calculate-button">
            <img src="../../../../assets/icons/calculate.svg" alt="calculate-button">
        </div>
    </div>
    <div class="result-container">
        <h4>Gross Annual Salary: <strong>£ 40000</strong></h4>
        <h4>Gross Monthly Salary: <strong>£ 3333.33</strong></h4>
        <h4>Net Annual Salary: <strong>£ 29000</strong></h4>
        <h4>Net Monthly Salary: <strong> £ 2416.67</strong></h4>
        <h4>Annual Tax Paid: <strong>£ 11000.00</strong></h4>
        <h4>Monthly Tax Paid: <strong>£ 916.67</strong></h4>       
    </div>
</div>
    